
body, .popupBtn {
    font-family: 'David Libre', serif;
}

.container, header p, #weeksCount, #monthCount, .eventPlacePop, .mapWrapper {
    direction: rtl;
}

.eventDate, .popUpInfo p  {
    font-size: 1.3rem;
}
